@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* css variables for the color theme and text color */
  --primary-color: #54B435;
  --primary-text-color: #54B435;
  --secondary-text-color: #6a7280;
  --tertiary-text-color: #141f1d;
  --background-color: #e3e6ea;
  --main-color: #fff;
  --shadow-color: #d1d5db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'DM Sans','sans-serif';
}

body {
  -webkit-tap-highlight-color: transparent;
}
